body {
  font-family: Arial, sans-serif;
  text-align: justify;
  padding: 20px;
    background-color: antiquewhite;
}

.controls {
  margin-bottom: 20px;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 20px;
}
h2 {
  font-weight: normal;
}
