body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 20px;
}
*{
    background-color: rgb(233, 226, 217);
}
h1{
    color: darkred;
}
h2{
    color: indigo;
}
